.MyCanvas{
	background-image:url(img/grid_10.png);
}
.draggable-model-proxy{
	border:1px solid #ccc;
	opacity:0.7;
	position:absolute;
	z-index:20;
	filter:alpha(opacity=70);
}
.task{
	margin : 0px;
	padding : 0px;
	outline : none;
}
.task-top-left{
	background:url(img/circle.png) no-repeat top left;
	position:absolute;
	left:0;
	top:0;
	font-size:2px;
}
.task-top-right{
	background:url(img/circle.png) no-repeat top right;
	position:absolute;
	left:0;
	top:0;
	font-size:2px;
}
.task-header{
	background-color : #CCCCFF;
	border-top : 3px solid #666666;
	font-size : 10px;
	text-align : center;
}
.task-textarea{
	background-color : white;
	border-top : 1px solid #666666;
	border-left : 1px solid #666666;
	border-right : 1px solid #666666;
	overflow : auto;
	font-size =: 9pt;
	font-weight : bolder;
	text-align : center;
	vertical-align : middle;
}
.task-footer{
	background-color : white;
	border-bottom : 1px solid #666666;
	font-size : 2px;
}
.bottom-top-left{
	background:url(img/circle.png) no-repeat bottom left;
	position:absolute;
	left:0;
	top:0;
	font-size:2px;
}
.bottom-top-right{
	background:url(img/circle.png) no-repeat bottom right;
	position:absolute;
	left:0;
	top:0;
	font-size:2px;
}
.user-task-icon{
	background : url(icons/type.user.png) no-repeat;
}
.manual-task-icon{
	background : url(icons/type.manual.png) no-repeat;
}
.script-task-icon{
	background : url(icons/type.script.png) no-repeat;
}
.mail-task-icon{
	background : url(icons/type.send.png) no-repeat;
}
.service-task-icon{
	background : url(icons/type.service.png) no-repeat;
}
.receive-task-icon{
	background : url(icons/type.receive.png) no-repeat;
}
.business-rule-task-icon{
	background : url(icons/type.business.rule.png) no-repeat;
}
.subprocess-icon{
	background : url(icons/type.subprocess.expanded.png) no-repeat;
}
.callactivity-icon{
	background : url(icons/callactivity.png) no-repeat;
}
.sequence-flow-icon{
	background : url(icons/ereference.gif) no-repeat;
}
.start-event-icon{
	background : url(icons/type.startevent.none.png) no-repeat;
}
.end-event-icon{
	background : url(icons/type.endevent.none.png) no-repeat;
}
.parallel-gateway-icon{
	background : url(icons/type.gateway.parallel.png) no-repeat;
}
.exclusive-gateway-icon{
	background : url(icons/type.gateway.exclusive.png) no-repeat;
}
.timer-boundary-event-icon{
	background : url(icons/timer.png) no-repeat;
}
.error-boundary-event-icon{
	background : url(icons/error.png) no-repeat;
}
.palette-icon{
	background : url(icons/palette.png) no-repeat;
}
.palette-menu{
	padding:5px;
	overflow:auto;
}
.palette-menu-icon{
	background : url(icons/tree_folder_open.gif) no-repeat;
}
.process-icon{
	background : url(icons/process.gif) no-repeat;
}
.properties-icon{
	background : url(icons/properties.gif) no-repeat;
}
.properties-menu{
	overflow:auto;
}