<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
		default-lazy-init="true">
	<!-- =================================系统框架全局配置开始============================================ -->
	<import resource="applicationContext-hihsoft-sso.xml" />
	<!-- =================================系统安全框架配置============================================= -->
	<!-- <import resource="applicationContext-message.xml" /> -->
	<!-- ================================系统框架之外模块配置开始例如：JBPM工作流=============================== -->
	<!-- <import resource="applicationContext-jbpm.xml" /> -->
</beans>
